# ======================

# ENV / secrets

# ======================

.env
.env.*
*.env

# ======================

# Python

# ======================

**pycache**/
*.py[cod]
*.pyo
*.pyd

# ======================

# Virtual environments

# ======================

.venv/
venv/
env/
ENV/

# ======================

# VS Code

# ======================

.vscode/

# ======================

# MacOS

# ======================

.DS_Store

# ======================

# Logs

# ======================

*.log

# ======================

# Build / cache

# ======================

build/
dist/
*.egg-info/
.eggs/

# ======================

# Testing / coverage

# ======================

.coverage
htmlcov/
.pytest_cache/

# ======================

# Migrations (если не используешь alembic — можно оставить)

# ======================

# alembic/versions/

# ======================

# SQLite (если вдруг локально используешь)

# ======================

*.sqlite3
*.db
